/HDS/Sem10/App01/nbproject/private/
/HDS/Sem10/App01/build/
/HDS/Sem10/App01/dist/
/HDS/Sem10/App02/nbproject/private/
/HDS/Sem10/App02/build/
/HDS/Sem10/Tarea_Coronel_Milla/nbproject/private/
/HDS/SEMANA11/Sesion11/nbproject/private/
/HDS/SEMANA11/Sesion11/build/
/HDS/SEMANA11/Appejercicio1/nbproject/private/
/HDS/SEMANA11/Appejercicio1/build/
/HDS/SEMANA11/Appejercicio2/nbproject/private/
/HDS/SEMANA11/Appejercicio2/build/
/HDS/Sem12/PagoApp/nbproject/private/
/HDS/Sem12/PagoApp/build/
/HDS/Sem13/AprendiendoJava/nbproject/private/
/HDS/Sem13/AprendiendoJava/build/
/HDS/Sem13/AppCONCYTEC/nbproject/private/
/HDS/Sem13/AppCONCYTEC/build/
/HDS/Sem14/AprendiendoArreglos/nbproject/private/
/HDS/Sem14/AprendiendoArreglos/build/
/HDS/Sem14/AprendiendoArreglos/dist/
/HDS/Sem14/AppClase01/nbproject/private/
/HDS/Sem14/AppClase01/build/
/HDS/Sem14/Semana 14-1/nbproject/private/
/HDS/Sem14/Semana 14-1/build/
/HDS/Sem14/Reforzamiento 3/nbproject/private/
/HDS/Sem14/Reforzamiento 3/build/
/HDS/Sem14/Flecha1/nbproject/private/
/HDS/Sem14/Flecha1/build/